extends ../layouts/default

include ../mixins/post
block content
	.container
		.row
			.col-md-12.text-center
				h2.orange Notícias
				p
					i Fique por dentro do que movimenta São Paulo
	.bg-pb
		.container
			if filters.category && !data.category
				.row
					.col-md-12
						h3 Categoria Inválida.
			else
				if posts.results.length
					.blog
						each post in posts.results
							+post(post)
					if posts.totalPages > 1
						ul.pagination
							if posts.previous
								li: a(href='?page=' + posts.previous): span.glyphicon.glyphicon-chevron-left
							else
								li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
							each p, i in posts.pages
								li(class=posts.currentPage === p ? 'active' : null)
									a(href='?page=' + (p === '...' ? (i ? posts.totalPages : 1) : p ))= p
							if posts.next
								li: a(href='?page=' + posts.next): span.glyphicon.glyphicon-chevron-right
							else
								li.disabled: a(href='?page=' + posts.totalPages): span.glyphicon.glyphicon-chevron-right
				else
					if category
						.jumbotron.text-center
							h3(style="margin-bottom:0;margin-top:0;") No posts in the category #{category.name}.
					else
						.jumbotron.text-center
							h3(style="margin-bottom:0;margin-top:0;") There are no posts yet.
