extends ../layouts/default

block intro
	.container
		.row
			.col-md-12.text-center
				h2.orange Dicas de TI
				p
					i Conheça as ferramentas que podem auxiliar no desenvolvimento do seu projeto ou empresa.

block content
	.container
		.row
			.col-md-12.col-sm-12.col-xs-12
				.col-md-2.col-sm-4.col-xs-4.text-center
						img.img-responsive(src='/images/bluemix1.png')
				.col-md-4.col-sm-8.col-xs-8
					h3.no-top-margin Passo a passo para conhecer o IBM Bluemix
					p Explore a 
						a(href="http://www.ibm.com/developerworks/br/cloud/bluemix/") plataforma da IBM 
						| para criação e desenvolvimento de aplicações na nuvem.
				.clearfix
				br
				br
				.col-md-2.col-sm-4.col-xs-4.text-center
						img.img-responsive(src='/images/bluemix2.png')
				.col-md-4.col-sm-8.col-xs-8
					h3.no-top-margin Explore o mundo da tecnologia
					p Conheça o IBM 
						a(href="http://www.ibm.com/developerworks/br/") developerWorks 
						| e tenha acesso a conteúdos e informações de TI que podem ajudar no desenvolvimento do seu projeto.
		.row
			.col-md-12.col-sm-12.col-xs-12
				.col-md-2.col-sm-4.col-xs-4.text-center
						img.img-responsive(src='/images/bluemix3.png')
				.col-md-4.col-sm-8.col-xs-8
					h3.no-top-margin Hackathon (Maratona de Desenvolvimento)
					p Vai participar de um 
						a(href="http://br-hackathon-quickstart.mybluemix.net/") hackathon
						|? Veja como as tecnologias em nuvem da IBM podem te ajudar.
				.clearfix
				br
				br
				.col-md-2.col-sm-4.col-xs-4.text-center
						img.img-responsive(src='/images/bluemix4.png')
				.col-md-4.col-sm-8.col-xs-8
					h3.no-top-margin Startup, a IBM também é para você! 
					p A IBM tem programas específicos para sua startup. Inclusive, a companhia oferece infraestrutura em nuvem para o seu negócio. 
						a(href="http://www-01.ibm.com/software/info/ecod/cloudoffer/startup.html?ce=ism0436&ct=swg&cmp=ibmsocial&cm=h&cr=crossbrand&ccy=br") Saiba como.
		.row
			.col-md-12.col-sm-12.col-xs-12
				.col-md-2.col-sm-4.col-xs-4.text-center
						img.img-responsive(src='/images/acad_init.jpg', alt="IBM Academic Initiative.")
				.col-md-4.col-sm-8.col-xs-8
					h3.no-top-margin Computação em nuvem na sala de aula
					p A IBM oferece aos professores e alunos acesso gratuito à plataforma em nuvem da companhia. 
						a(href="http://www-304.ibm.com/ibm/university/academic/pub/page/cloud_program") Conheça o programa 
						| IBM Academic Initiative for Cloud.
				.clearfix
				br
				br
