extends ../layouts/default

block content
	.container
		.row
			.col-md-12
					h2.text-center.orange COMPRAS PÚBLICAS MUNICIPAIS
					p No dia 05 outubro de 2015, Dia Nacional do Microempreendedor, o prefeito Fernando Haddad assinou o 
						a(href="http://www3.prefeitura.sp.gov.br/cadlem/secretarias/negocios_juridicos/cadlem/integra.asp?alt=06102015D%20564750000", onclick="this.target = '_blank'") Decreto Municipal nº. 56.475 
						| que regulamenta no município de São Paulo o Estatuto Nacional da Micro e Pequena Empresa, disciplinando o tratamento favorecido, diferenciado e simplificado para essas categorias de empresas nas contratações públicas municipais.
					br
					br
					p Com essa iniciativa, todas as compras públicas por dispensa de licitação, em razão de pequeno valor, deverão ser feitas exclusivamente com micro, pequenas empresas e sociedades cooperativas. Nas contratações até R$ 80 mil, o processo licitatório será destinado exclusivamente para esse segmento. O decreto ainda prevê que, nas contratações acima de R$ 80 mil, sempre que os produtos e serviços puderem ser divisíveis, a administração municipal reserve cota de 25% para participação exclusiva destas empresas.
					br
					br
					p Por fim, a regulamentação contempla a concessão de margem de preferência. Trata-se de pagamento de até 10% a mais para micro e pequenas empresas sediadas em regiões prioritárias do município de São Paulo a serem definidas por portaria específica.
					br
					br
					p Em 2014, o Governo Federal movimentou R$ 62,1 bilhões em aquisição de bens e serviços, enquanto as compras públicas da Prefeitura de São Paulo alcançou o patamar dos R$ 11,9 bilhões. A expectativa com o novo decreto é que o município de São Paulo adquira exclusivamente junto às micro e pequenas empresas cerca de R$ 5 bilhões por ano em compras e contratações.
					br
					br
					p Para a ADESAMPA, as Compras Públicas devem ser entendidas como instrumento de desenvolvimento local e redução de desigualdades regionais. Este bilionário poder de compra governamental não deve ser entendido como mero processo formal de busca pelo menor preço, mas sim como importante ferramenta para a realização de políticas públicas que tenham como objetivo principal a geração de empregos formais, a criação de renda, a melhor distribuição de riquezas e o fomento ao empreendedorismo.
					br
					br
					p Neste sentido, a ADESAMPA trabalha para facilitar o acesso de micro e pequenos empreendedores às compras públicas, investindo em alternativas para mapear e tornar públicas as informações relativas ao tema. Atualmente o portal e-negócios da cidade de São Paulo é a principal plataforma do poder público municipal na organização dessas informações.
					br
					br
					p Em Janeiro de 2016, a ADESAMPA lançou o portal Sampa.Digital, que permitirá o cadastramento de empreendedores, compradores e vendedores, com o objetivo de criar um banco de oportunidades de negócios e conectar quem quer comprar com quem quer vender. Tanto a iniciativa privada e Poder Público poderão anunciar suas necessidades de compra e o site fará a conexão com os possíveis fornecedores.
					br
					br
					p Na tabela existente na home do Sampa.Digital você encontrará informações sobre as seguintes modalidades de licitação:
					br
					
					ol
						li Editais de Licitação de participação exclusiva para MEIs, MEs e EPPs (Licitações até 80 mil, previsto no artigo 7 do Decreto 56475/2015);
						li Editais de Licitação de obras ou serviços com exigência de subcontratação de MEIs, MEs e EPPs (Licitações acima de 80 mil, previsto no artigo 9 do Decreto 56475/2015)
						li Editais de Licitação com cota reservada para participação exclusiva de MEIs, MEs e EPPs (Licitações acima de 80 mil, previsto no artigo 11 do Decreto 56475/2015) 
						li Cotações eletrônicas oriundas de dispensa de licitação em razão de pequeno valor (No caso da Administração Direta, até 8 mil para serviços/bens e até 15 mil para obras; No caso da Administração Indireta, até 16 mil para serviços/bens e até 30 mil para obras, previsto no artigo 16 do Decreto 56475/2015)
					br
					br
					p  Informe-se e aproveite estas oportunidades
