extends ../layouts/default

block content
	.container
		.row
			.col-md-12.text-center
				h2.orange Nova Empresa por aqui?
				p
					i
						strong Comprador ou Vendedor:
						|  Fique por dentro do que movimenta São Paulo
		.row
			.col-md-12.rule-bottom.text-center
				h3 Dados do Cadastro
				form(method='post').form-horizontal
					input(type='hidden', name='action', value='update')
					input(type='hidden' name='id' value = empresaf.id)					
					.row.no-bottom-margin
						.col-xs-12.col-md-6
							.col-md-12
								.form-group
									label.col-sm-4.text-left.padding-0 Nome Fantasia
									input(type='text' name='nomeFantasia' placeholder='Nome Fantasia' value = empresaf.nomeFantasia).form-control
								.form-group
									label.col-sm-4.text-left.padding-0 Descrição
									input(type='text' name='descricao' placeholder="Breve Descrição" value = empresaf.descricao).form-control
								.form-group
									label.col-sm-4.text-left.padding-0 Nome:
									input(type='text' name='nome' required x-moz-errormessage="Por favor preencha esse campo." placeholder="Nome" value = pessoaf.nome).form-control
								.form-group
									label.col-sm-4.text-left.padding-0 CPF:
									input(type='text' name='cpf' required x-moz-errormessage="Por favor preencha esse campo." placeholder="CPF (Ex. 000.000.000-00)" value = pessoaf.cpf).form-control
						.col-xs-12.col-md-6
							.col-md-12
								.form-group(class=validationErrors.email ? 'has-error' : null)
									label.col-sm-4.text-left.padding-0 Email
									input(type='email' name='email' required x-moz-errormessage="Por favor preencha com um email válido." placeholder='Email' value = usuariof.email).form-control
								.form-group
									label.col-sm-4.text-left.padding-0 Contato Comercial
									input(type='text' name='contatoComercial' placeholder='Contato Comercial' value = empresaf.contatoComercial).form-control
								.form-group
									label.col-sm-4.text-left.padding-0 Telefone
									input(type='text' name='telefone' placeholder='Telefone (Ex. (00)0000-0000) - Ramal' value = empresaf.telefone).form-control
								.col-md-8.text-left.padding-left-0
									.form-group
										label.col-sm-4.text-left.padding-0 Logo
										input(type='text' name='logo' placeholder='Url da imagem do logo' value = empresaf.logo).form-control
								.col-md-4
									.form-group
										button(type='' style='margin-top:23px;').btn.green Enviar arquivo...
					.row
						.col-md-12.rule-bottom.text-center
							h3 Localização
					.row
						.col-xs-12.col-md-6
							.col-md-12
								.form-group
									label.col-sm-4.text-left.padding-0 Endereço:
									input(type='text' name='endereco.street1' required x-moz-errormessage="Por favor preencha esse campo." placeholder="Endereço" value = empresaf.endereco.street1).form-control
						.col-xs-12.col-md-6
							.form-group
								.col-sm-3
									label.col-sm-4.text-left.padding-0 Número:
									input(type='text' name='endereco.number' required x-moz-errormessage="Por favor preencha esse campo." placeholder='Nº (Ex.999)' value = empresaf.endereco.number).form-control
								.col-sm-6
									label.col-sm-4.text-left.padding-0 CEP:
									input(type='text' name='endereco.postcode' required x-moz-errormessage="Por favor preencha esse campo." placeholder='CEP (Ex. 00000-000)' value = empresaf.endereco.postcode).form-control
								.col-sm-3
									label.col-sm-4.text-left.padding-0 Estado:
									input(type='text' name='endereco.state' required x-moz-errormessage="Por favor preencha esse campo." placeholder='Estado' value = empresaf.endereco.state).form-control
						.col-xs-12.col-md-6
							.col-md-12
								.form-group
									label.col-sm-4.text-left.padding-0 Complemento:
									input(type='text' name='endereco.name' required x-moz-errormessage="Por favor preencha esse campo." placeholder="Complemento" value = empresaf.endereco.name).form-control
								.form-group
									label.col-sm-4.text-left.padding-0 Bairro:
									input(type='text' name='endereco.street2' required x-moz-errormessage="Por favor preencha esse campo." placeholder='Bairro' value = empresaf.endereco.street2).form-control
									
						.col-xs-12.col-md-6
							.col-md-12
								.form-group
									label.col-sm-4.text-left.padding-0 Cidade:
									input(type='text' name='endereco.suburb' required x-moz-errormessage="Por favor preencha esse campo." placeholder='Cidade' value = empresaf.endereco.suburb).form-control
					.row
						.col-md-12.text-center
							.form-group
								button(type='submit').btn.green Enviar
