extends ../layouts/default

block content
	if empresaSubmitted
		.jumbotron.text-center
			h1 Success!
			if user
				p Head over to the Admin UI to see your empresa:
				a(href='/keystone/empresas').btn.btn-lg.btn-primary Admin UI 
			else
				p(style="margin-left: 10vw; margin-right: 10vw;") To see your empresa, sign in with the username 
					code demo@keystonejs.com
					|  and the password 
					code demo
					|  then go to the enquiries list.
				a(href='/keystone/signin').btn.btn-lg.btn-primary Sign In
	
	else
		.page-header
			a(href='/keystone/empresas').btn.btn-default.pull-right= user ? 'View Empresas' : 'Sign in to View Empresas'
			h1 Empresa
		.row
			.col-sm-8
				form(method='post').form-horizontal
					input(type='hidden', name='action', value='cadastroEmpresa')
					.form-group
						label.col-sm-2.text-left.control-label Nome Fantasia
						.col-sm-10
							input(type='text' name='nomeFantasia').form-control
					.form-group
						label.col-sm-2.text-left.control-label Razão Social
						.col-sm-10
							input(type='text' name='razaoSocial').form-control
					.form-group
						label.col-sm-2.text-left.control-label Descrição
						.col-sm-10
							input(type='text' name='descricao').form-control
					.form-group
						label.col-sm-2.control-label Contato
						.col-sm-10
							input(type='text' name='contato').form-control
					.form-group
						label.col-sm-2.control-label Contato Comercial
						.col-sm-10
							input(type='text' name='contatoComercial').form-control
					.form-group
						label.col-sm-2.control-label Telefone
						.col-sm-10
							input(type='text' name='telefone').form-control
					.form-group
						label.col-sm-2.text-left.control-label Endereço
						.col-sm-10
							input(type='text' name='endereco.street1').form-control
					.form-group
						label.col-sm-2.text-left.control-label Número
						.col-sm-10
							input(type='text' name='endereco.number').form-control
					.form-group
						label.col-sm-2.text-left.control-label CEP
						.col-sm-10
							input(type='text' name='endereco.postcode').form-control
					.form-group
						label.col-sm-2.control-label CNPJ
						.col-sm-10
							input(type='text' name='cnpj').form-control
					.form-group
						label.col-sm-2.control-label CNAE
						.col-sm-10
							select(name='cnae').form-control
								option(value='') (required)
								each cnae in cnaes
									option(value=cnae.id) #{cnae.codigo}
					.form-group
						label.col-sm-2.control-label Logo
						.col-sm-10
							input(type='text' name='logo').form-control
					.form-group
						label.col-sm-2.control-label Twitter
						.col-sm-10
							input(type='text' name='twitter').form-control
					.form-group
						label.col-sm-2.control-label Facebook
						.col-sm-10
							input(type='text' name='facebook').form-control
					.form-group
						label.col-sm-2.control-label Linkedin
						.col-sm-10
							input(type='text' name='linkedin').form-control
					.form-group
						label.col-sm-2.control-label WebSite
						.col-sm-10
							input(type='text' name='webSite').form-control
					.form-group
						.col-sm-10.col-sm-offset-2
							p.help-block Note: others can see your enquiry in the <a href='/keystone/empresas'>Admin UI</a>
							button(type='submit').btn.btn-primary Submit
			.col-sm-4
				.panel.panel-default
					.panel-heading
						h3.panel-title Resources
					.panel-body Well that's it for the demo, but you can find out more from these links:
					.list-group
						a(href='http://github.com/KeystoneJS/keystone-demo', target='_blank').list-group-item GitHub Repo
						a(href='http://www.keystonejs.com/guide', target='_blank').list-group-item Documentation
						a(href='https://groups.google.com/d/forum/keystonejs', target='_blank').list-group-item Google Group
