extends ../layouts/default

block content
	if user
		if user.isAdmin
			.container
				.row
					.col-md-12.text-center
						h1.orange Painel de Controle
				.row
					.col-md-4
					.col-md-4
						h3.no-margin: a(href='/keystone')
							span.glyphicon.glyphicon-cog
							| &nbsp;Area do Administrador
						h3.no-margin: a(href='/aprovacao')
							span.glyphicon.glyphicon-list-alt
							| &nbsp;Cadastros Pendentes
						h3.no-margin: a(href='/keystone/signout') 
							span.glyphicon.glyphicon-off
							| &nbsp;logout
					.col-md-4
		else
			.container
				.row
					.col-md-12.text-center
						h1.orange Painel de Controle
				.row
					.col-md-4
					.col-md-4
						h3.no-margin: a(href='/conta')
							span.glyphicon.glyphicon-user
							| &nbsp;Minha Conta
						h3.no-margin: a(href='/minhasOportunidades')
							span.glyphicon.glyphicon-edit
							| &nbsp;Minhas Oportunidades
						h3.no-margin: a(href='/keystone/signout') 
							span.glyphicon.glyphicon-off
							| &nbsp;logout
					.col-md-4
	else
		.container
			.row
				.col-md-12.text-center
					h1.orange Painel de Controle
			.row
				.col-md-4
				.col-md-4
					h3.no-margin: a(href='/keystone/signin')
						span.glyphicon.glyphicon-log-in
						| &nbsp;Login
					h3.no-margin: a(href='/cadastro')
						span.glyphicon.glyphicon-file
						| &nbsp;Cadastre-se aqui
				.col-md-4

