extends ../layouts/default

block content
	script.
		$('body').on('change', '.form-checkbox', function(){
			if ($('#termos').prop('checked')){
				$('#sendButton').removeClass('disabled');
				$('#sendButton').prop('disabled', false);
			}
			else {
				$('#sendButton').addClass('disabled');
				$('#sendButton').prop('disabled', true);
			};
		});
	if cpfCheck
		.container
			.row
				.col-md-12.text-center
					h2.orange Nova Empresa por aqui?
					p
						i 
							strong Comprador ou Vendedor:
							|  Fique por dentro do que movimenta São Paulo
			.row
				.col-md-12.rule-bottom.text-center
					h3 Responsavel Legal
			.row
				.col-sm-8
					form(method='post').form-horizontal
						input(type='hidden', name='action', value='isCpf').
						.row
							.col-xm-12.col-md-6
								.col-md-12
									.form-group
										label.control-label.sr-only CPF:
										input(type='text' name='cpf' required x-moz-errormessage="Por favor preencha esse campo." placeholder="CPF (Ex. 00.000.000-0)").form-control
						.row
							.col-md-12.text-center
								button(type='submit').btn.green.small Enviar
	else
		.container
			.row
				.col-md-12.text-center
					h2.orange Nova Empresa por aqui?
					p
						i 
							strong Comprador ou Vendedor:
							|  Fique por dentro do que movimenta São Paulo
			.row
				.col-md-12.rule-bottom.text-center
					h3 Responsavel Legal
				
			form(method='post').form-horizontal
				input(type='hidden' name='cpf' value = cpf)
				input(type='hidden', name='action', value='cadastro').
				.row
					.col-xm-12.col-md-6
						.col-md-12
							.form-group
								label.control-label.sr-only Nome:
								input(type='text' name='nome' required x-moz-errormessage="Por favor preencha esse campo." placeholder="Nome").form-control
					.col-xm-12.col-md-6
						.col-md-12
							.form-group
								label.control-label.sr-only CEP:
								input(type='text' name='cep' required x-moz-errormessage="Por favor preencha esse campo." placeholder="CEP (Ex. 000.00-000)").form-control
					
				.row
					.col-xm-12.col-md-6
						.col-md-12
							.form-group
								label.control-label.sr-only Endereço:
								input(type='text' name='endereco' required x-moz-errormessage="Por favor preencha esse campo." placeholder="Endereço").form-control
					.col-xm-12.col-md-6
						.form-group
							.col-sm-3
								label.control-label.sr-only Número:
								input(type='text' name='enderecoNumero' required x-moz-errormessage="Por favor preencha esse campo." placeholder="Nº (Ex.999)").form-control
								
							.col-sm-9
								label.control-label.sr-only Estado:
								input(type='text' name='bairro' required x-moz-errormessage="Por favor preencha esse campo." placeholder="Bairro").form-control
				.row
					.col-xm-12.col-md-6
						.col-md-12
							.form-group
								label.control-label.sr-only Bairro:
								input(type='text' name='cidade'  required x-moz-errormessage="Por favor preencha esse campo." placeholder='Cidade').form-control
								
								
					.col-xm-12.col-md-6
						.col-md-12
							.form-group
								label.control-label.sr-only Cidade:
								input(type='text' name='estado' required x-moz-errormessage="Por favor preencha esse campo." placeholder='Estado' ).form-control
				.row
					.col-md-12
						input(type='checkbox', name='termos', id='termos', checked=false).form-checkbox
						label(for='termos').form-checkbox
							&nbsp;Li e concordo com os 
							a(href='termos') Termos de Uso
				.row
					.col-md-12.text-center
						button(type='submit' disabled='true').btn.green.small.disabled#sendButton Enviar
