extends ../layouts/default

block content
	if (updateSubmmited == true)
		.container
			.row
				.col-md-12.text-center
					h1.green Senha alterada com sucesso
	else 
		.container
			.row
				.col-md-12.text-center
					h2.orange Alterar Senha
			if(senhaAlterada == true)
				h2.green Senha alterada com sucesso!
			else
				.row
					.col-md-12.text-center
						p.red#erro_alterar_senha
							if(missingFields == true)
								| *Por favor, todos campos são obrigatórios.
							if(senhasDiferentes == true)
								| *Campos Nova Senha e Confirmar Nova Senha devem ser iguais.
							if(igualAtual == true)
								| *A Nova Senha deve ser diferente da Senha Atual
							if(senhaCorreta == false)
								| *Senha atual digitada errada
				.row
					.col-xm-offset-1.col-sm-offset-2.col-md-offset-3.col-xm-10.col-sm-8.col-md-6 
						form(method='post').form-horizontal#alterarSenha
								input(type='hidden', name='action', value='update')
								.row.no-bottom-margin
									.col-md-12
										.form-group
											label.col-sm-4.text-left.padding-0 Senha Atual
											input(type='password' name='senha' placeholder='Senha Atual').form-control
										.form-group
											label.col-sm-4.text-left.padding-0 Nova Senha
											input(type='password' name='nSenha' placeholder='Nova Senha').form-control
										.form-group
											label.col-sm-4.text-left.padding-0 Confirmar Nova Senha
											input(type='password' name='nSenhaConfirma' placeholder='Confirmar Nova Senha').form-control
								.row
									.col-md-12.text-center
										.form-group
											//button(type='button', onclick="validaAlterarSenha();").btn.green.small Enviar
											button(type='submit').btn.green.small Salvar
	//validation
	script(src='/js/adesampa/validarAlterarSenha.js')