extends ../layouts/default_small

block content
	script.
		$(document).ready(function()
		{
			$(".scroll-container").perfectScrollbar(); 
		});
	.container
		.row
			.col-md-12
					h2.text-center.orange Termos de Uso
					.scroll-container
						ol
							li 
								| <h3>Aceitação dos Termos e Condições Gerais de Uso</h3> <br />Os termos e condições gerais abaixo regulamentam o uso do site www.meudinheiroweb.com.br da Easyme Tecnologia e Inovação Ltda - ME, pessoa jurídica de direito privado com sede Avenida Santa Leopoldina, n.º 1825, Sala 217, Centro Comercial de Itaparica H12, Coqueiral de Itaparica – Vila Velha/ ES - CEP 29102-041, doravante denominado Meu Dinheiro, e seus usuários, doravante denominado Usuário.<br />O presente documento de Termos e Condições Gerais de Uso é um contrato, ainda que firmado por meio eletrônico, possuindo eficácia e validade jurídica em conformidade com a legislação civil em vigor (artigos 422 e 425 do Código Civil Brasileiro, instituído pela Lei nº 10.406/2002).<br />O objetivo deste contrato é assegurar a efetivação de uma política de transparência, privacidade e segurança para ambas as partes envolvidas, que permita a melhor utilização do Meu Dinheiro pelos seus Usuários.<br />Caso o Usuário não concorde com quaisquer dos termos e condições gerais contidas no presente contrato, este não deverá finalizar o seu cadastro, pois a finalização do cadastro e o início do uso dos serviços significarão a sujeição e a aceitação expressa de todos os termos e condições aqui previstos sem reservas ou ressalvas.<br />Ao usar Meu Dinheiro, o Usuário está ciente de que estará sujeito aos manuais ou regras aplicáveis ao serviço, que poderão ser modificados a qualquer tempo pela Easyme. Todos os manuais ou regras estão integrados a este contrato, e são parte integrante do mesmo. A Easyme se reserva ao direito de a qualquer tempo promover a alteração do presente contrato, e da mesma forma se reserva ao direito de alterar a sua Política de Privacidade.<br />Ao utilizar o Meu Dinheiro, o Usuário indica que leu e concordou, mesmo que tacitamente, com a versão mais recente dos Termos e Condições Gerais de Uso, vinculando-se automaticamente às regras ali contidas.<br />Para consultar a versão mais atualizada dos Termos e Condições Gerais de Uso, visite www.easyme.com.br/termosdeuso.<br />Ao Utilizar o Meu Dinheiro, o Usuário se obrigará a direitos e deveres abaixo detalhados, e a violação de qualquer um deles ensejará a rescisão automática do contrato, ressalvada a hipótese de ação de medidas judiciais em caso de prejuízo em face da fornecedora dos serviços e/ou de terceiros.<br />
							li 
								| <h3>Descrição dos Serviços</h3><br />O Meu Dinheiro é uma ferramenta online de controle financeiro pessoal e empresarial que auxilia pessoas e empresas a gerenciarem suas finanças de forma simples e fácil. Ele possibilita o cadastramentos de suas contas correntes, cartões de crédito, caixa pequeno e outros tipos de contas, clientes, fornecedores e outros contatos, centros de custos/lucros, formas de pagamento e a realização de lançamento e agendamento de receitas, despesas e transferências, sua categorização e visualização de relatórios, através de uma aplicação web (online), acessível a partir do endereço www.meudinheiroweb.com.br.
							li
								| <h3>Período de inicial de experiência</h3><br />Ao se cadastrar no sistema, o Usuário pode escolher um plano a que terá direito de utilizar de forma integral e gratuita por um período de dias definidos no momento do cadastro. Após este período, para continuar utilizando todas as funcionalidades do plano escolhido, será necessário realizar o pagamento do valor da tarifa de utilização. Caso opte por não realizar o pagamento, o Usuário não perderá suas informações, mas passará a ter acesso apenas às funcionalidades da versão básica do sistema.
							li 
								| <h3>Validade, preços e cancelamento da assinatura</h3><br />O Usuário terá direito de utilizar integralmente os recursos do plano contratado pelo período de vigência do mesmo. Os recursos e a periodicidade serão disponibilizadas ao Usuário no ato da assinatura do plano escolhido. Após o término do período de assinatura, não havendo renovação da mesma, o usuário continuará tendo direito de acessar parcialmente o Meu Dinheiro de acordo com as funcionalidades disponíveis na versão básica.<br />Os valores dos planos poderão ser reajustados anualmente, ou na menor periodicidade permitida pela legislação aplicável, pela variação positiva do IGP-M ou índice legal que o substitua. Existe ainda a possibilidade de reajustes em função de aumento na carga tributária ou de outros custos, a fim de se restabelecer o equilíbrio econômico, conforme legislação vigente. Os novos valores dos planos serão aplicados às novas assinaturas e no momento das renovações das assinaturas vigentes.<br />Em respeito ao artigo 49 do código de defesa do consumidor, a Easyme garante o ressarcimento integral do valor pago, caso o Usuário solicite o cancelamento da sua assinatura em até 7 dias após o pagamento da mesma. Após este período em hipótese alguma haverá devolução de valores já pagos, uma vez que o serviço foi prestado e está disponível ao usuário para sua utilização
							li
								| <h3>Atendimento e suporte ao Usuário</h3><br />Todos os Usuários assinantes terão direito a suporte gratuito durante a vigência da assinatura.<br />O atendimento e suporte ao Usuário do Meu Dinheiro será efetuado exclusivamente através dos canais eletrônicos disponibilizados na web (Sistema de atendimento ao Usuário através da opção “Fale Conosco” no menu principal do sistema e email suporte@easyme.com.br). O atendimento será efetuado em dias úteis no horário das 09:00 às 12:00 e das 14:00 às 18:00hs.<br />Não estão inclusos nos serviço de atendimento e suporte: instalações e , visitas de qualquer natureza, recuperação de banco de dados, demais procedimentos que não sejam o esclarecimento de dúvidas e prestação de informações relacionadas exclusivamente ao Meu Dinheiro.<br />As respostas iniciais aos chamados serão enviadas em até 36 horas, excluindo feriados e finais de semana, mas a correção de eventuais problemas ocorrerá de acordo com a disponibilidade técnica da Easyme.<br />O Usuário deve especificar uma prioridade ao abrir um chamado, mas a Easyme se reserva o direito de alterar esta prioridade, caso julgue que a mesma não está de acordo com a urgência do problema.<br />Ao abrir um chamado, o Usuário deverá fornecer as informações necessárias para o diagnóstico, incluindo, mas sem limitação: (i) descrição do problema, a configuração e a rede do Usuário; (ii) fornecimento de dados relevantes; e (iii) comunicação posterior por e-mail ou telefone para responder as questões e auxiliar a equipe de Suporte da Esayme da maneira apropriada.<br />A Easyme pode responder ao chamado apenas confirmando o recebimento do mesmo. O cliente reconhece e entende que a Easyme pode não ser capaz de fornecer respostas para, ou resolver, todas as solicitações.<br />Se a Easyme considerar um chamado como uma solicitação de novos recursos, o mesmo será registrado para avaliação em futuras atualizações ou lançamento de serviços e poderá, a seu critério, fechar o chamado. A Easyme está isenta da obrigação de responder ou de resolver qualquer solicitação de novos recursos ou de incluir qualquer solicitação desse tipo em qualquer atualização ou lançamento futuros.
							li
								| <h3>Garantia dos arquivos anexados</h3><br />O mecanismo de anexos do Meu Dinheiro utiliza a infraestrutura de armazenamento da Amazon S3, que proporciona infraestrutura durável para armazenar dados importantes e foi projetado para oferecer durabilidade de objetos de 99,999999999%. Seus dados são armazenados com redundância em várias instalações e diversos dispositivos em cada instalação.<br />A Amazon S3 é projetado para oferecer disponibilidade de 99,99% dos objetos pelo período de um ano. A Amazon S3 também é respaldado pelo Acordo de Nível de Serviço da Amazon S3, garantindo a confiabilidade quando você precisar dele.<br />O Meu Dinheiro não utiliza o recurso de versionamento da Amazon S3. Logo, um anexo excluído pelo usuário, não poderá ser recuperado.
							li
								| <h3>Condições de Uso</h3><br />O Usuário entende e concorda que o Meu Dinheiro está sujeito às demais condições de uso e regras de todos os serviços da Easyme, contidas nos termos de uso do portal www.easyme.com.br/termosdeuso.
					//
						h3.text-center Quando colher
						p 
							| A banana pode ser colhida a partir de 105 dias da emissão do coração e induzida a amadurecer com ótima qualidade para consumo; porém, os frutos poderão estar muito magros, ocasionado redução de preço. Por isso, é melhor colher quando os frutos estiverem gordos. Nas bananas tipo Prata, quando os frutos engordam ocorre suavização das quinas, nas bananas ‘Nanica’ e ‘Maçã’ as quinas desaparecem, mas no tipo Terra as quinas permanecem. Daí a importância de determinar a idade do cacho adequada a cada tipo de banana, bem como às necessidades do mercado. A idade do cacho para a colheita é determinada marcando-se as plantas com fita de uma determinada cor para cada data de aparecimento do coração. As datas correspondentes a cada cor de fita são anotadas em uma planilha, na qual também se anota a data prevista para a colheita, que coincidirá com a desejada idade do cacho.
						p
							| Para se certificar de que o cacho está na maturidade fisiológica e, portanto, apto a amadurecer após a colheita, corta-se o fruto central da segunda penca e observa-se a cor da polpa e a fluidez do látex (leite). Nas bananas fisiologicamente maduras, a polpa tem coloração creme brilhante e o látex não escorre. Uma exceção são as bananas do tipo Terra, nas quais a polpa fica rosada. Nas bananas imaturas, de todos os tipos, a cor da polpa é branca e o látex escorre com facilidade após o corte (Figura 1). Confirmada a maturidade fisiológica, todos os cachos com a mesma idade (cor da fita) podem ser colhidos para amadurecimento posterior.
						h3.text-center Como colher e transportar o cacho
						p
							| Nas variedades de porte médio-alto (Maçã, Ouro, Caipira, Thap Maeo e Tropical) e alto (Prata, Pacovan, Terra e Preciosa), a colheita deve ser efetuada por dois operários. Um corta parcialmente o pseudocaule (tronco) à meia altura entre o solo e o cacho, e o outro evita que o cacho atinja o solo, segurando-o pela parte inferior do engaço. O primeiro operário corta então a porção superior do engaço. Nas variedades de porte baixo a médio-baixo (Prata-Anã, Nanica, D’Angola, Prata Graúda e Maravilha), a colheita é de execução mais fácil, podendo às vezes ficar a cargo de um único operário (Figura 2a). Após o corte o cacho é transportado para o local de despencamento por cabo aéreo (Figura 2b), em carreta ou em carrinho de mão (Figura 2c) revestido com esponja ou mesmo sobre travesseiro de espuma colocado no ombro do operário.
						h3.text-center Seleção, despencamento e lavagem do cacho
						p
							| Os cachos com formação defeituosa, muito gordos ou muito magros, com frutos maduros ou danificados por pragas, doenças, atrito das folhas e ferramentas, são considerados fora do padrão, devendo ser descartados ou reservados para consumo doméstico.
						p
							| Quer seja em casa de embalagem ou em outras condições, os cachos selecionados são pendurados na mesma posição em que estavam na planta (Figura 3a). Na falta de uma construção coberta, os cachos podem ser pendurados em traves de madeira proveniente de reflorestamento, instaladas na margem da estrada, em frente ao pomar (Figura 3b). Antes do despencamento é recomendável a lavagem do cacho com jato de água, para remover a sujeira de campo (poeira, teias de aranhas e pedaços de folha seca), seguindo-se a remoção manual dos restos florais (Figura 4a) que permanecem na ponta dos frutos das pencas. Os cachos protegidos dispensam o jato de água, desde que o saco plástico não tenha sido rasgado no campo.
						p
							| Após o despencamento (Figura 4b), as pencas devem ser imediatamente colocadas em tanque contendo água limpa, isenta de contaminação microbiológica e sem substâncias tóxicas ao operário e ao fruto, para a primeira lavagem. Para melhorar a lavagem usam-se bombas para agitar a água, facilitando a remoção de sujeiras e o látex. Depois da toalete das pencas ou buquês (Figura 4c), que consiste na remoção de restos do engaço e aparamento das arestas (quinas) da almofada, procede-se a mais uma lavagem (Figura 4d) que deve ser feita como descrito anteriormente.
						p
							| Nas situações em que não se dispõe de casa de embalagem adequadamente equipada, as lavagens podem ser efetuadas em tanque de plástico ou fibra de vidro (Figura 4c, d, e, f) e a água pode ser agitada com movimentos giratórios das mãos do operário, enquanto o mesmo coloca e retira as pencas no tanque. Não devem ser usados tanques de amianto, pois esta substância é comprovadamente cancerígena.
						h3.text-center Processamento em buquês
						p
							| A depender da forma de comercialização no mercado destino, as pencas podem ser subdivididas em buquês compostos de dois a nove frutos unidos pela almofada. Esta forma de processamento do produto facilita o acondicionamento na embalagem e reduz a queda dos frutos após a maturação (Figura 4e, f).
						
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
