extends ../layouts/default_small

block content
	script.
		$(document).ready(function()
		{
			$(".scroll-container").perfectScrollbar(); 
		});
	.container
		.row
			.col-md-12
					h2.text-center.orange CONDIÇÕES DE USO DO PORTAL  SAMPA.DIGITAL
					.scroll-container
						ul
							li 
								| <h3>CONDIÇÕES DE USO DO PORTAL  SAMPA.DIGITAL . </h3> <br />Sampa.Digital,  é um Portal  que permitirá o cadastramento de empreendedores, compradores, vendedores e desenvolvedores de sistemas,  com o objetivo de criar um banco de oportunidades de negócios e conectar quem quer comprar com quem quer vender. Empresas e Poder Público poderão anunciar suas necessidades de compra e o site fará a conexão com os possíveis fornecedores. <br /><br />
							li 
								| Trata-se de um ambiente de negócios com foco nos pequenos, micro empresários e startups e sua conexão com compradores, principalmente os municipais. Futuramente, o site também incorporará oportunidades de financiamento e formação para empreendedores. <br /><br />
							li
								| Para fins desta  Condições de Uso denomina-se SA.Digital, como Portal e os empreendedores, compradores, vendedores e desenvolvedores de sistemas,  cadastrados no sistema denomina-se Usuários.<br /><br />
							li 
								| A utilização por parte do Usuário cadastrado de qualquer dos Serviços do Portal supõe e expressa sua adesão e aceitação a todas as Condições Gerais de Uso na versão publicada no presente Website no momento em que o usuário se cadastra, nos seguintes termos:<br /><br />
								
								ol
									li
										| O Portal se reserva o direito de modificar sem prévio aviso as presentes Condições Gerais de Uso com o objetivo de adequá-las à legislação vigente aplicável em cada momento, às novidades jurisprudenciais e às práticas habituais do mercado.<br /><br />
									li
										| Da mesma forma, o Portal se reserva a possibilidade de modificar, sem prévio aviso, o desenho, apresentação e/ou configuração deste Website, assim como alguns ou todos os serviços, e acrescentar novos serviços.<br /><br />
									li
										| O Portal não se responsabiliza nem respalda em nenhum caso, os produtos ou serviços prestados ou ofertados pelo cliente ou por terceiras pessoas ou entidades por meio de seus serviços.<br /><br />
									li
										| O Portal poderá eliminar do Website conteúdos ilegais ou supostamente ilegais sem prévio aviso.<br /><br />
									li
										| O usuário se compromete a fazer um uso lícito e diligente do Website e dos serviços acessíveis a partir do mesmo, com total sujeição à norma vigente, aos bons costumes e às presentes Condições Legais.<br /><br />
									li
										| O uso da senha é pessoal e intransferível, não estando permitida a cessão, nem sequer temporária, a terceiros. Nesse sentido, o usuário deverá adotar as medidas necessárias para a guarda e custódia da senha por ele selecionada, evitando o uso da mesma por terceiros. <br /><br />
									li
										| Toda a informação que o Usuário fornecer  deverá ser verdadeira. Para esses efeitos, o Usuário  garante a autenticidade de todos os dados e informações que prestar .<br /><br />
									li
										| O Usuário se obriga a respeitar direitos de terceiros ao utilizar o Portal, sendo vedado a reprodução, distribuição, transmissão, adaptação ou modificação, por qualquer meio e em qualquer forma, dos conteúdos do Portal.<br /><br />
									li
										| Fica proibido ao Usuário  utilizar conteúdos protegidos legalmente (por exemplo, pela legislação relativa à propriedade intelectual, a marcas, a patentes, a modelos de utilidade ou a modelos estéticos) sem ter direito a isso, ou fazer publicidade, oferecer ou distribuir bens ou serviços protegidos legalmente, bem como realizar ou fomentar ações contrárias à livre concorrência, incluídas as encaminhadas à captação de clientes progressiva (como sistemas em correntes, de bola de neve ou piramidais), que induzam ou incitem a atuar de forma ilegal ou levem a conclusões errôneas por inexatidão, omissão ou similares, que contenham informação falsa ou vencida, que infrinjam normas legais ou regulamentarias sobre segredo das comunicações.<br /><br />
									li
										| Fica vedado ao Usuário a utilização de expressões de conteúdos injuriosos ou caluniosos, independentemente de que esses conteúdos afetem a outros usuários  ou a outras pessoas ou empresas, conteúdos que indiquem ou promovam discriminação sexual, racial, religiosa ou qualquer outra violação dos direitos fundamentais e das liberdades reconhecidas pela Constituição Brasileira, utilizar conteúdos pornográficos ou que violem as leis de proteção de menores, ou fazer publicidade, oferecer ou distribuir produtos pornográficos ou que violem as leis de proteção a menores.<br /><br />
									li
										| O Usuário que descumprir de forma intencional ou culpável qualquer das precedentes obrigações responderá por todos os danos e prejuízos causados.<br /><br />
									li
										| O Usuário reconhece que todos os elementos do Portal e de cada um dos Serviços prestados através do mesmo, a informação e materiais contidos no mesmo, a estrutura, seleção, ordenação e apresentação de seus conteúdos e os programas de computador utilizados em relação com o mesmo, estão protegidos pelos direitos de propriedade intelectual e industrial do Portal ou de terceiros.<br /><br />
									li
										| Em particular, fica terminantemente proibida a utilização dos textos, imagens, anúncios e qualquer outro elemento incluído no presente Website para sua posterior inclusão, total ou parcial, em outros websites alheios ao Portal, sem contar com a autorização prévia e por escrito do Portal.<br /><br />
									li
										| Só serão aceitos os cadastros de  empresas legalmente constituídas, com o  registro no Cadastro Nacional de Pessoa Jurídica do Ministério da Fazenda - CNPJ/MF., com a devida indicação do seu representante legal.<br /><br />
									li
										| O usuário manifesta concordância quanto ao  envio  de-mails informativos sobre as atividades e iniciativas  do Portal.<br /><br />
							
							
							
							
							
