extends ../layouts/default_small

block content
	script.
		$(document).ready(function()
		{
			$(".scroll-container").perfectScrollbar(); 
		});
	.container
		.row
			.col-md-12
					h2.text-center.orange CONDIÇÕES DE USO DO PORTAL  SAMPA.DIGITAL
					.scroll-container
						ol
								| Sampa.Digital,  é um Portal  que permitirá o cadastramento de empreendedores, compradores, vendedores e desenvolvedores de sistemas,  com o objetivo de criar um banco de oportunidades de negócios e conectar quem quer comprar com quem quer vender. Empresas e Poder Público poderão anunciar suas necessidades de compra e o site fará a conexão com os possíveis fornecedores. Trata-se de um ambiente de negócios com foco nos pequenos, micro empresários e startups e sua conexão com compradores, principalmente os municipais. Futuramente, o site também incorporará oportunidades de financiamento e formação para empreendedores. Para fins desta  Condições de Uso denomina-se SA.Digital, como Portal e os empreendedores, compradores, vendedores e desenvolvedores de sistemas,  cadastrados no sistema denomina-se Usuários. <br />
							li 
								| <h3>Descrição dos Serviços</h3><br />O Meu Dinheiro é uma ferramenta online de controle financeiro pessoal e empresarial que auxilia pessoas e empresas a gerenciarem suas finanças de forma simples e fácil. Ele possibilita o cadastramentos de suas contas correntes, cartões de crédito, caixa pequeno e outros tipos de contas, clientes, fornecedores e outros contatos, centros de custos/lucros, formas de pagamento e a realização de lançamento e agendamento de receitas, despesas e transferências, sua categorização e visualização de relatórios, através de uma aplicação web (online), acessível a partir do endereço www.meudinheiroweb.com.br.
							li
								| <h3>Período de inicial de experiência</h3><br />Ao se cadastrar no sistema, o Usuário pode escolher um plano a que terá direito de utilizar de forma integral e gratuita por um período de dias definidos no momento do cadastro. Após este período, para continuar utilizando todas as funcionalidades do plano escolhido, será necessário realizar o pagamento do valor da tarifa de utilização. Caso opte por não realizar o pagamento, o Usuário não perderá suas informações, mas passará a ter acesso apenas às funcionalidades da versão básica do sistema.
							li 
								| <h3>Validade, preços e cancelamento da assinatura</h3><br />O Usuário terá direito de utilizar integralmente os recursos do plano contratado pelo período de vigência do mesmo. Os recursos e a periodicidade serão disponibilizadas ao Usuário no ato da assinatura do plano escolhido. Após o término do período de assinatura, não havendo renovação da mesma, o usuário continuará tendo direito de acessar parcialmente o Meu Dinheiro de acordo com as funcionalidades disponíveis na versão básica.<br />Os valores dos planos poderão ser reajustados anualmente, ou na menor periodicidade permitida pela legislação aplicável, pela variação positiva do IGP-M ou índice legal que o substitua. Existe ainda a possibilidade de reajustes em função de aumento na carga tributária ou de outros custos, a fim de se restabelecer o equilíbrio econômico, conforme legislação vigente. Os novos valores dos planos serão aplicados às novas assinaturas e no momento das renovações das assinaturas vigentes.<br />Em respeito ao artigo 49 do código de defesa do consumidor, a Easyme garante o ressarcimento integral do valor pago, caso o Usuário solicite o cancelamento da sua assinatura em até 7 dias após o pagamento da mesma. Após este período em hipótese alguma haverá devolução de valores já pagos, uma vez que o serviço foi prestado e está disponível ao usuário para sua utilização
							li
								| <h3>Atendimento e suporte ao Usuário</h3><br />Todos os Usuários assinantes terão direito a suporte gratuito durante a vigência da assinatura.<br />O atendimento e suporte ao Usuário do Meu Dinheiro será efetuado exclusivamente através dos canais eletrônicos disponibilizados na web (Sistema de atendimento ao Usuário através da opção “Fale Conosco” no menu principal do sistema e email suporte@easyme.com.br). O atendimento será efetuado em dias úteis no horário das 09:00 às 12:00 e das 14:00 às 18:00hs.<br />Não estão inclusos nos serviço de atendimento e suporte: instalações e , visitas de qualquer natureza, recuperação de banco de dados, demais procedimentos que não sejam o esclarecimento de dúvidas e prestação de informações relacionadas exclusivamente ao Meu Dinheiro.<br />As respostas iniciais aos chamados serão enviadas em até 36 horas, excluindo feriados e finais de semana, mas a correção de eventuais problemas ocorrerá de acordo com a disponibilidade técnica da Easyme.<br />O Usuário deve especificar uma prioridade ao abrir um chamado, mas a Easyme se reserva o direito de alterar esta prioridade, caso julgue que a mesma não está de acordo com a urgência do problema.<br />Ao abrir um chamado, o Usuário deverá fornecer as informações necessárias para o diagnóstico, incluindo, mas sem limitação: (i) descrição do problema, a configuração e a rede do Usuário; (ii) fornecimento de dados relevantes; e (iii) comunicação posterior por e-mail ou telefone para responder as questões e auxiliar a equipe de Suporte da Esayme da maneira apropriada.<br />A Easyme pode responder ao chamado apenas confirmando o recebimento do mesmo. O cliente reconhece e entende que a Easyme pode não ser capaz de fornecer respostas para, ou resolver, todas as solicitações.<br />Se a Easyme considerar um chamado como uma solicitação de novos recursos, o mesmo será registrado para avaliação em futuras atualizações ou lançamento de serviços e poderá, a seu critério, fechar o chamado. A Easyme está isenta da obrigação de responder ou de resolver qualquer solicitação de novos recursos ou de incluir qualquer solicitação desse tipo em qualquer atualização ou lançamento futuros.
							li
								| <h3>Garantia dos arquivos anexados</h3><br />O mecanismo de anexos do Meu Dinheiro utiliza a infraestrutura de armazenamento da Amazon S3, que proporciona infraestrutura durável para armazenar dados importantes e foi projetado para oferecer durabilidade de objetos de 99,999999999%. Seus dados são armazenados com redundância em várias instalações e diversos dispositivos em cada instalação.<br />A Amazon S3 é projetado para oferecer disponibilidade de 99,99% dos objetos pelo período de um ano. A Amazon S3 também é respaldado pelo Acordo de Nível de Serviço da Amazon S3, garantindo a confiabilidade quando você precisar dele.<br />O Meu Dinheiro não utiliza o recurso de versionamento da Amazon S3. Logo, um anexo excluído pelo usuário, não poderá ser recuperado.
							li
								| <h3>Condições de Uso</h3><br />O Usuário entende e concorda que o Meu Dinheiro está sujeito às demais condições de uso e regras de todos os serviços da Easyme, contidas nos termos de uso do portal www.easyme.com.br/termosdeuso.
		
							
							
							
							
							
							
							
							
							
							
							
							
							
							
