/*Nav*/
nav{
  background-color: #FFFFFF;
}
/*Top Nav*/
.top{
  background-color: #EFEFEF;
}
.top ul{
  list-style-type: none;
  padding-left: 0;
  margin-top: 10.5px;
}
.top ul li{
  display: inline-block;
  margin-right: 20px;
}
.top ul li a{
  color: #5296c0;
}
.login{
  margin-right: 0 !important;
}
.login a:before{
  content: url('/images/locker.png');
}
/*Main Nav*/
.navbar-collapse{
  float: right;
}
.navbar-nav li a{
  color: #777777;
  padding-bottom: 5px;
  padding-top: 5px;
}
.navbar-nav li a:hover{
  background-color: #F29600;
  color: #FFFFFF;
}
