@charset "utf-8";
/* CSS Document */

.leaf_breadcrumb {
    padding-top: 10px;
	font-size:14px; 
    color:#929292;
	font-style:normal !important;
}

img.alignright {
    display: inline;
    float: right;
    margin-left: 15px;
	margin-bottom: 15px;
}

img.alignleft {
    display: inline;
    float: left;
    margin-right: 15px;
	margin-bottom: 15px;
}

.templatemo-leaf p {
	font-size:14px;
}